/* Fundimental Elements */

body {
	background-image: url(assets/background_static.jpg);
	font-family: Georgia;
	color: #ffffff;
	margin-left: 15px;
	margin-top: -10px;
}

header {
	margin-bottom: 50px;
}

footer {
	margin-top: 40px;
}

td  {
	text-align: center;
	padding: 5px 10px 5px 10px;
}

a {
	text-decoration: none;
	color: #dcdcdc;
}

a:hover, a:active, a:visited {
	color: #c0c0c0;
}

/* Headers and subheadings*/

.header_title {
	font-size: 45px;
}

.header_subheading {
	margin-top: -20px;	
}

.minor_subheading {
	margin-top: -10px;	
}

.major_subheading {
	margin-top: -13px;	
}

/* User data */

.user_data {
	text-align: right;
	display: block;
    position: absolute;
    top: 5px;
    right: 30px;
}

/* Dropdown Menu */

.dropdown .dropdown_master {
	background-color: inherit;
	font-family: inherit;
	color: #ffffff;
	border: none;
}

.dropdown_links {
	display: none;
	position: relative;
	min-width: 15px;
}

.dropdown_links a {
	display: block;
	text-decoration: none;
	text-align: right;
	color: #ffffff;
	padding: 10px;
	float: none;
}

.dropdown_links a:hover {
	box-shadow: inset 0 0 0 100px rgba(255, 255, 255, 0.15);
}

.dropdown:hover .dropdown_links {
	display: block;
}

/* Exhibtion */

.artwork .artwork_master {
	padding: 10px;
}

.artwork_art {
	width: 200px;
	height: auto;
}

.artwork_art img {
	max-width: 100%;
	max-height: 100%;
}

.artwork_text {
	max-width: 1100px;
}

.artwork_karma input {
	background-color: inherit;
	font-family: inherit;
	color: #ffffff;
	border: none;
}

/* Additional Classes */

.extra_padding {
	padding: 5px 15px 5px 15px;
}

.rank {
	font-size: 150%;
}
